<div class="listing">  
    <h1>Daily Discover</h1>
    <div class="products_card">
        <h3>Product 1</h3>
        <p>{{ product1Description }}</p>
        <p>${{ product1Price }}</p>
    </div>
    <div class="products_card">
        <h3>Product 2</h3>
        <p>{{ product2Description }}</p>
        <p>${{ product2Price }}</p>
    </div>
    <div class="products_card">
        <h3>Product 3</h3>
        <p>{{ product3Description }}</p>
        <p>${{ product3Price }}</p>
    </div>
    <div class="products_card">
        <h3>Product 4</h3>
        <p>{{ product4Description }}</p>
        <p>${{ product4Price }}</p>
    </div>

    <div class="products_card">
        <h3>Product 5</h3>
        <p>{{ product5Description }}</p>
        <p>${{ product5Price }}</p>
    </div>
</div>
