<div class="profile-card">

    <img src="https://scontent.fceb5-1.fna.fbcdn.net/v/t39.30808-1/634826594_1441500947650956_3600506747384013237_n.jpg?stp=dst-jpg_tt6&cstp=mx2038x2048&ctp=s200x200&_nc_cat=105&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeE8LQV0w_lkQ1GRFif_bB0rHLvwg6aLAJMcu_CDposAkyX-sFjoV_4A0NDx3O1p8p7VB1Zps8T2hox1i4tcmIVi&_nc_ohc=_yBThBPEKh0Q7kNvwFHfsQI&_nc_oc=AdpWJEHmLrDqIa3A4xyQ2AzDVzrWdV60mwDMv2tZCppVFT8iVJV2rMB9f8UkUeKhhms&_nc_zt=24&_nc_ht=scontent.fceb5-1.fna&_nc_gid=5Gn3aw7paIJgKldK_4RJdQ&_nc_ss=7a2a8&oh=00_AQFgO4gWYjEdOy9GbaRgR_D54cOwjCXhNw8spOaENn6NEA&oe=6A7720DC"
        alt="Profile Picture" class="profile-image" />
    <h1>
        {{ StudentFirstName.toUpperCase() }} {{ StudentMiddleName.charAt(0).toUpperCase()}}. {{ StudentLastName.toUpperCase() }}
    </h1>
    <h2>
        {{ StudentNumber }}
    </h2>
    <h3>{{ Course }}</h3>
    <h3>{{ YearLevel }} - {{ Section }}</h3>
    <h3>Nickname: {{ Nickname }}</h3>
    <p>Email: {{ StudentFirstName.toLowerCase() + '.' + StudentLastName.toLowerCase() + '@dbtc-cebu.edu.ph' }}</p>
    <h3>Grade: {{ Grade }} </h3>
    <p>Status: {{ status }}</p>
    

</div>