.profile-card{
    
    content: center;

    width:500px;

    background:#111;

    color:white;

    margin:40px auto;

    padding:40px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.4);

    border: 1px solid #2d2d2d;

    transition: all .35s ease;

    

}
h1{
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom:10px;

}
h2{
    font-size:20px;

    font-family:Arial, Helvetica, sans-serif;

    margin-bottom:20px;
}

p{
    font-size:16px;

    font-family:Arial, Helvetica, sans-serif;

    line-height:1.5;

    margin-bottom:20px;
}

h3{
    font-size:20px;

    font-family:Arial, Helvetica, sans-serif;

    margin-bottom:10px;
}
.profile-image{

    width:170px;

    height:170px;

    border-radius:50%;

    object-fit:cover;

    display:block;   

    margin: 0 auto 25px;

}

.online{
    display:inline-block;
    width:22px;
    height:22px;
    background:#00ff84;
    border-radius:50%;
    margin-left:10px;

    box-shadow:0 0 20px #00ff84;
}




.profile-card:hover {
  transform: translateY(-8px);
  border-color: #ff4655;

  box-shadow:
      0 15px 35px rgba(255,70,85,.15),
      0 0 50px rgba(255,70,85,.08);
}


