body {

  
  margin: 0;
  background-color: #e3f2fd;
}

:host{
    display:block;
    min-height:100vh;
    padding-top:70px;
    background:
    radial-gradient(circle at left,#12212d,#0d1117 40%),
    radial-gradient(circle at right,#401b20,#0d1117 45%);

    background-color:#0d1117;
}

.navbar {
    display: flex;
    gap: 20px;
    padding: 15px 25px;
    background-color: #0B1120;
    border-bottom: 1px solid #273449;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #1e293b;
}



 